* {
    box-sizing: border-box;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

.bblock {
    float: left;
    line-height: 42px;
    font-size: 24px;
    color: white;
    width: 124px;
    margin: 16px;
    text-align: center;
}

    .bblock a {
        color: #eee !important;
    }

    .bblock:hover {
        border-radius: 8px;
        box-shadow: 0 0 12px #20292f;
    }

        .bblock:hover a {
            color: #00a7af !important;
        }

#header {
    padding-left: 24px;
    height: 74px;
    background: #383c47;
    box-shadow: 0 0 12px #383c47;
}

body {
    background-color: #20292f;
}

#table {
    margin-top: 8%;
    margin-right: 16%;
    margin-left: 8%;
}

.elementFalse, .elementTrue {
    border-radius: 8px;
    margin-top: 28px;
    box-shadow: 0 0 12px #383c47;
    padding: 16px;
}

.elementTitle {
    font-size: 22px;
}

.elementDescription {
    font-size: 16px;
    margin-top: 2%;
}

.elementFalse {
    background-color: #eee;
}

    .elementFalse .elementTitle {
        color: #383c47;
    }

    .elementFalse .elementDescription {
        color: #878b8e;
    }

.elementTrue {
    background-color: #878b8e;
}

    .elementTrue .elementTitle {
        color: #eee;
    }

    .elementTrue .elementDescription {
        color: #bbb;
    }

.elementdivDelete {
    border-radius: 24px;
    padding: 4px 16px;
    background-color: #00a7af;
    position: absolute;
    left: 80%;
    box-shadow: 0 0 12px #383c47;
}
